[Unit]
Description=CrowdSec bouncer for fastly
After=syslog.target crowdsec.service docker.service
Requires=docker.service

[Service]
ExecStart=${BIN} -c ${CFG}/crowdsec-fastly-bouncer.yaml

[Install]
WantedBy=multi-user.target